.site-info {
    font-size: 1.2rem;
    color: white;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
}

.site-info-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.text-info {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    display: inline;
    margin-left: 0.2rem;
    margin-top: 1rem;
}
.text-value {
    font-weight: lighter;
}
